/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.row {
    display: flex;
    gap: 16px;
}

.flex {
    flex: 1;
}

.flex--1 {
    flex: 1;
}

.flex--2 {
    flex: 2;
}

.flex--3 {
    flex: 3;
}

.flex--4 {
    flex: 4;
}

mat-form-field {
    width: 100%;
}